.content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 72px 0 0;
    flex-direction: column;
}

.content .container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 30px;
    padding: 60px;
    align-items: center;
    justify-content: center;
}

.none {
    display: none;
}

.profile.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.navbar-brand {
    margin: 0;
}

.list-profile .col-6{
    margin: 0 auto;
}